* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: flex-start;
    padding: 20px;
    min-height: 100vh;
    position: relative;
}

.header-transparente {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    padding: 1px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
}

.logo {
    margin-left: 20px;
    margin-top: 20px;
    height: 40px;
    width: auto;
    z-index: 3;
}

.form-box {
    background-color: white;
    backdrop-filter: blur(40px);
    padding: 30px 40px;
    width: 400px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    margin-top: 70px;
    margin-right: 20px;
    position: absolute;
    right: 20px;
    top: 20px;
    box-shadow: 5px 5px 2px rgba(50, 48, 48, 0.5);
    z-index: 2;
}

.form-box h2 {
    font-size: 20px;
    padding-bottom: 10px;
}

.form-box p {
    font-weight: bold;
    color: #3D3D3D;
}

.form-box p a {
    color: rgb(234, 29, 44);
    text-decoration: none;
}

.form-box form {
    margin: 20px 0;
}

form .input-group {
    margin-bottom: 15px;
}

form .input-group label {
    color: #3D3D3D;
    font-weight: bold;
    display: block;
    margin-bottom: 5px;
}

form .input-group input {
    width: 100%;
    height: 47px;
    background-color: rgba(255, 255, 255, 0.32);
    border-radius: 20px;
    outline: none;
    border: 2px solid transparent;
    padding: 15px;
    font-size: 15px;
    color: #616161;
    transition: all 0.4s ease;
    border-color: rgb(234, 29, 44);
}

form .input-group input:focus {
    border-color: #04935069;
}

form .input-group button {
    width: 100%;
    height: 47px;
    background: rgb(234, 29, 44);
    border-radius: 20px;
    outline: none;
    border: none;
    margin-top: 15px;
    color: white;
    cursor: pointer;
    font-size: 16px;
}

.authentication {
    display: flex;
    position: absolute;
    z-index: 1;
    width: 100%;
    flex-direction: column;
}

@media only screen and (min-width:960px) {
    .authentication {
        height: 100vh;
        overflow: hidden;
    }
}

.authentication__wrapper {
    position: relative;
    display: grid;
    width: 100%;
    height: 100%;
    padding: 0 20px;
    grid-template-rows: 1fr;
    grid-row-gap: 20px;
    row-gap: 20px;
}

@media only screen and (min-width:960px) {
    .authentication__wrapper {
        width: 100%;
        max-width: 1366px !important;
        margin: auto;
        padding: 0 30px;
        grid-row-gap: 0;
        row-gap: 0;
        grid-template-rows: unset;
        grid-template-columns: 1fr 1fr;
    }
}

.authentication__illustration {
    position: relative;
    display: none;
    justify-content: center;
}

@media only screen and (min-width:960px) {
    .authentication__illustration {
        display: flex;
    }
}

.authentication__illustration:before {
    content: "";
    min-width: 130vh;
    min-height: 135vh;
    width: 130vw;
    height: 130vw;
    z-index: -1;
    position: absolute;
    background-color: #fdedee;
    border-radius: 0 100% 100%;
    left: 50%;
    transform: translate(-50%);
    bottom: 0;
}

@media only screen and (min-width:960px) {
    .authentication__illustration:before {
        right: 0;
        bottom: unset;
        left: auto;
        min-width: 130vh;
        min-height: 135vh;
        max-width: 80vw;
        max-height: 80vw;
        width: 80vw;
        height: 80vw;
        transform: translate(15vw, -23%);
    }
}

.authentication__illustration div {
    display: flex;
    justify-content: center;
    max-width: 500px;
    margin-bottom: 20px;
}

.authentication__illustration div svg {
    min-width: 250px;
    width: 75%;
    height: 100%;
}

@media only screen and (min-width:960px) {
    .authentication__illustration div svg {
        width: 100%;
    }

    .authentication__illustration div {
        margin-bottom: 0;
        max-width: auto;
        width: 90%;
        z-index: -1;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
    }
}

@media only screen and (max-width:559px) {
    .authentication--landing .authentication__wrapper {
        overflow-x: hidden;
        max-height: 100vh;
    }
}

@media only screen and (min-width:960px) {
    .authentication--landing .authentication__wrapper {
        width: 100%;
        max-width: 1366px !important;
        margin: auto;
        padding: 0 30px;
        grid-template-rows: unset;
    }
}
